<div class="row">
  <div class="col-xs-12">
    <h2 class="cn-title">Shopping List <small>Because spend some money rocks!</small></h2>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
    <div class="thumbnail cn-shopping-new-list cn-shopping-list text-center">
      <p><strong class="cn-date">29/<span class="month">12</span></strong></p>
      <p class="items">Let's fill this shit!</p>
      <p><a href="<%= add_new_list_url %>" class="cn-btn btn btn-block btn-xs btn-default">Add New List</a></p>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
    <div class="thumbnail cn-shopping-list text-center">
      <p><strong class="cn-date">15/<span class="month">12</span></strong></p>
      <p class="items">Feijão, Arroz, Macarrão and other 7</p>
      <p><a href="#" class="cn-btn cn-btn-clone btn btn-block btn-default btn-xs">Clone this</a></p>
    </div>
  </div>
</div>