<%= image_tag "gollum.jpg", width: 150 %>

<h1>O Condado</h1>
<hr>

<strong>Seja bem vindo!</strong>

<p>Para usufruir do nosso aplicativo, você precisa autenticar-se com o Facebook.</p>

<a href="#" class="btn btn-primary btn-lg"> <i class="fa fa-facebook"></i> Conectar com Facebook</a>