/* Variables */
$gray: #6C7A89;
$gray_hover: #95A5A6;
$orange: #F89406;
$green: #26A65B;
$green_hover: #90C695;
$blue: #81CFE0;
$purple: #663399;
$red: #F22613;

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,300);